.footer {
	display: flex;
	align-items: center;
	min-height: 80px;
	color: var(--main-color);
	background-color: var(--back-color-ligt);
}

.footer__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 85px;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.footer__copy {
	display: flex;
	align-items: center;
	margin: 0;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 13px;
}

.footer__content > div {
	position: relative;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 13px;
}

.footer__copy::after,
.footer__pays::after {
	content: '';
	position: absolute;
	top: 0;
	display: inline-block;
	width: 1px;
	height: 18px;
	background-color: #C3C3C3;
}

.footer__copy::after {
	right: -45px;
}

.footer__pays::after {
	right: -52px;
}

.footer__copy > p {
	margin: 0;
}

.footer__pays {
	display: flex;
	flex-wrap: wrap;
	gap: 38px;
}

.footer__pay {
	margin: 0;
	display: flex;
	align-items: center;
}

.footer__pay::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-repeat: no-repeat;
}

.footer__pay_qiwi::before {
	background-image: url('/img/qiwi.svg');
}
.footer__pay_ym::before {
	background-image: url('/img/yandex-m.svg');
}
.footer__pay_wm::before {
	background-image: url('/img/web-money.svg');
}

.footer__contacts {
	display: flex;
	flex-wrap: wrap;
	gap: 47px;
}

.footer__contact {
	color: var(--main-color);
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 13px;
}

.footer__contact::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-repeat: no-repeat;
}

.footer__contact_mail::before {
	background-image: url('/img/email.svg');
}
.footer__contact_vk::before {
	background-image: url('/img/vk.svg');
}