.header {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100px;
	padding: 32px 1em;
	background-color: var(--back-color);
	position: fixed;
	z-index: 1;
	top: 0;
}

.header__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em;
	width: 100%;
	max-width: 1169px;
	margin: 0 auto;
}